[submodule "debugbreak"]
	path = debugbreak
	url = ../../scottt/debugbreak
[submodule "nanosvg"]
	path = nanosvg
	url = ../../cpp-port/nanosvg
[submodule "rapidjson"]
	path = rapidjson
	url = ../../Tencent/rapidjson
	branch = master
[submodule "jwt-cpp"]
	path = jwt-cpp
	url = ../../cpp-port/jwt-cpp
	branch = main
[submodule "picojson"]
	path = picojson
	url = ../../cpp-port/picojson
	branch = main
